.brandImagesSwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.brandImagesSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.brandImagesSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 28px;
}

.brandImagesSwiper .swiper-pagination-bullet {
  background: var(--foreground);
  opacity: 0.5;
}

.brandImagesSwiper .swiper-pagination-bullet-active {
  opacity: 1;
}
